<mat-stepper fxLayout="column" fxLayoutAlign="start center">
    <mat-step label="はじめに" state="phone">
        <div fxLayout="column" fxLayoutAlign="center center">
            <img class="icon" src="https://cdn.worldvectorlogo.com/logos/angular-icon-1.svg" />
            <h2 class="title">"プロダクト名"へようこそ</h2>
            <ol class="list">
                <li>感染防止対策のため<br />適度に間隔を保った座席を決定</li>
                <li>待ち時間を少なく<br />メニューが決まったらその場で注文</li>
                <li>お持ちの現金や電子決済に応じて<br />非対面で会計を行います</li>
            </ol>
            <button class="start-button" color="primary" mat-flat-button matStepperNext>
                開始する
            </button>
        </div>
    </mat-step>

    <mat-step label="人数決定" state="chat">
        <div fxLayout="column" fxLayoutAlign="center center">
            <h4>来店人数を入力してください</h4>
            <mat-form-field appearance="fill">
                <mat-label>来店人数</mat-label>
                <mat-select>
                    <mat-option *ngFor="let numPeople of numPeopleList" [value]="numPeople">
                        {{ numPeople }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around center">
            <button class="next-button" mat-stroked-button matStepperPrevious>戻る</button>
            <button class="next-button" color="primary" mat-flat-button matStepperNext>次へ</button>
        </div>
    </mat-step>

    <mat-step label="QRコード">
        <ol>
            <li>カメラを許可してください</li>
            <img class="icon" src="https://cdn.worldvectorlogo.com/logos/angular-icon-1.svg" />
            <li>QRコードを読み取ってください</li>
            <img class="icon" src="https://cdn.worldvectorlogo.com/logos/angular-icon-1.svg" />
        </ol>
        <div fxLayout="row" fxLayoutAlign="space-around center">
            <button class="next-button" mat-stroked-button matStepperPrevious>戻る</button>
            <button (click)="onClickLogin()" class="next-button" color="primary" mat-flat-button>
                次へ
            </button>
        </div>
    </mat-step>

    <!-- Icon overrides. -->
    <ng-template matStepperIcon="phone">
        <mat-icon>home</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="chat">
        <mat-icon>forum</mat-icon>
    </ng-template>
</mat-stepper>
