.table-number-dialog__title {
    font-size: 0.9rem;
    margin-bottom: 0 !important;
}

.table-number-dialog__table-number {
    font-size: 150px;
    margin-bottom: 10px;

    p {
        margin: 0 !important;
    }
}

.shop-name {
    color: #2176d9;
    font-weight: bold;
    font-size: 0.9rem;
    padding: 10px 15px 10px 15px;
    border-radius: 30px;
    border: 2px solid #2176d9;
}
