.item {
    font-size: 12px;
}

.provided-button {
    height: 40px;
    margin-right: 20px;
    width: 110px;
}

.menu-container__detail__price {
    font-size: 32px;
}

.check-icon {
    font-size: 28px;
    width: 26px;
    height: 26px;
    line-height: 26px;
    //margin: 10px;
}

.menu-status {
    font-size: 14px;
    font-weight: bold;
    border-radius: 20px;
    color: #509b52;
    border: solid 2px #509b52;
    padding: 5px 13px;
    margin-bottom: 20px;
}

.timer-icon {
    font-size: 16px;
    width: 16px;
    height: 16px;
    line-height: 16px;

    //margin: 10px;
}
