<div fxLayout="column" fxLayoutAlign="start center">
    <div class="form-wrapper">
        <div class="title" fxLayout="row" fxLayoutAlign="center">
            <strong>管理者ログイン画面</strong>
        </div>

        <form [formGroup]="form" style="margin-top: 20px">
            <app-shared-input
                appearance="standard"
                formControlName="code"
                label="店舗コード"
            ></app-shared-input>
            <app-shared-input
                appearance="standard"
                formControlName="password"
                label="パスワード"
                type="password"
            ></app-shared-input>

            <div fxLayout="row" fxLayoutAlign="center" style="margin: 10px">
                <app-button
                    (click)="login()"
                    label="サインイン"
                    type="submit"
                    width="250px"
                ></app-button>
            </div>
        </form>
    </div>
</div>
