<div class="sheet-container">
    <div *ngIf="transaction" fxLayout="column" fxLayoutAlign="space-around center">
        <h2>{{ transaction.shopName }}</h2>

        <div *ngIf="menus.length !== 0" class="orders">
            <div *ngFor="let element of menus" fxLayout="row" fxLayoutAlign="space-between center">
                <div>{{ element.name }}</div>
                <div>¥ {{ element.price }}</div>
            </div>
        </div>

        <div class="additional">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div>小計</div>
                <div>¥ {{ getTotalPrice() }}</div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div>外税対象額</div>
                <div>¥ {{ getTotalPrice() }}</div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div>外税</div>
                <div>¥ {{ getTaxAmount() }}</div>
            </div>
            <div class="total" fxLayout="row" fxLayoutAlign="space-between center">
                <div>合計</div>
                <div>¥ {{ getTotalPrice() + getTaxAmount() }}</div>
            </div>
        </div>
    </div>
</div>

<h4>ご確認の上、お会計を押してください</h4>
<div fxLayout="row" fxLayoutAlign="center">
    <div fxLayout="row" fxLayoutAlign="space-around center">
        <button [routerLink]="'/dashboard'" class="next-button" mat-raised-button>戻る</button>
        <button (click)="onClickPayment()" class="next-button" color="accent" mat-raised-button>
            お会計
        </button>
    </div>
</div>
