h2 {
    text-align: center;
    margin-top: 0px;
}

h4 {
    text-align: center;
}

.sheet-container {
    font-size: 0.8rem;
    border: solid 1px #222222;
    border-radius: 2px;
    padding: 10px;
    margin: 20px;
}

.orders {
    width: 80%;
    border-color: #606060;
    border-bottom: dotted;
    margin-bottom: 10px;
}

.additional {
    width: 80%;
}

.total {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 8px;
}

.next-button {
    width: 110px;
    height: 38px;
    margin: 15px;
    font-size: 16px;
}
