<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.rits.openhacku2022.db.mapper.OrderMapper">
    <resultMap id="BaseResultMap" type="cc.rits.openhacku2022.db.entity.Order"
               extends="cc.rits.openhacku2022.db.mapper.base.OrderBaseMapper.BaseResultMap"/>
    <resultMap id="OrderMenuResultMap" type="cc.rits.openhacku2022.db.entity.join.OrderMenuWitMenu"
               extends="cc.rits.openhacku2022.db.mapper.OrderMenuMapper.OrderMenuWithMenuResultMap"/>
    <resultMap id="OrderWithOrderMenusResultMap" type="cc.rits.openhacku2022.db.entity.join.OrderWithOrderMenus"
               extends="BaseResultMap">
        <collection property="orderMenus" resultMap="OrderMenuResultMap" columnPrefix="order_menu__"/>
    </resultMap>

    <select id="selectByOrderId" parameterType="java.lang.Integer"
            resultMap="OrderWithOrderMenusResultMap">
        SELECT DISTINCT `order`.*,

                        order_menu.order_id AS order_menu__order_id,
                        order_menu.menu_id  AS order_menu__menu_id,
                        order_menu.quantity AS order_menu__quantity,
                        order_menu.status   AS order_menu__status
        FROM `order`
                 LEFT JOIN order_menu ON order_menu.order_id = `order`.id
        WHERE `order`.id = #{orderId}
    </select>

</mapper>
