<mat-toolbar class="header" color="primary" fxLayout="row" fxLayoutAlign="space-between center">
    <div>
        <button (click)="sidenav.toggle()" mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
    </div>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <mat-nav-list>
            <a (click)="sidenav.close()" [routerLink]="'/dashboard'" mat-list-item>
                <mat-icon>dashboard</mat-icon>
                <span>ダッシュボード</span>
            </a>
            <a (click)="sidenav.close()" [routerLink]="'/dashboard/payment'" mat-list-item>
                <mat-icon>attach_money</mat-icon>
                <span>お会計</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="main-content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
