<div class="page-content">
    <mat-toolbar class="header" color="primary" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="center">
            <button (click)="sidenav.toggle()" [disabled]="!isSidenavValid" mat-icon-button>
                <mat-icon>menu</mat-icon>
            </button>
        </div>
    </mat-toolbar>

    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #sidenav>
            <mat-nav-list class="nav-list-wrapper">
                <a
                    (click)="sidenav.close()"
                    *ngFor="let element of isAdmin ? adminNavs : customerNavs"
                    [routerLink]="element.url"
                    mat-list-item
                >
                    <mat-icon>{{ element.icon }}</mat-icon>
                    <span>{{ element.label }}</span>
                </a>
                <a (click)="deleteAllTransactions(); sidenav.close()" *ngIf="isAdmin" mat-list-item>
                    <mat-icon>delete</mat-icon>
                    <span>全取引削除</span>
                </a>
                <a (click)="logout(); sidenav.close()" *ngIf="isAdmin" mat-list-item>
                    <mat-icon>logout</mat-icon>
                    <span>ログアウト</span>
                </a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
