<mat-horizontal-stepper fxLayout="column" fxLayoutAlign="start center" linear="true">
    <!-- Icon overrides. -->
    <ng-template matStepperIcon="edit">
        <mat-icon>check</mat-icon>
    </ng-template>

    <!-- 画面遷移1つ目 はじめに -->
    <mat-step label="はじめに">
        <div fxLayout="column" fxLayoutAlign="center center">
            <img class="icon" src="assets/images/biwacode-icon.svg" />
            <h2 class="title">BIWACODE+へようこそ</h2>
            <ol class="list">
                <li>感染防止対策のため<br />適度に間隔を保った座席を決定</li>
                <li>待ち時間を少なく<br />メニューが決まったらその場で注文</li>
                <li>お持ちの現金や電子決済に応じて<br />非対面で会計を行います</li>
            </ol>
            <button class="start-button" color="primary" mat-flat-button matStepperNext>
                開始する
            </button>
        </div>
    </mat-step>

    <!-- 画面遷移2つ目 来店人数、QRコード読み取り-->
    <mat-step [stepControl]="form" label="人数決定">
        <form [formGroup]="form" fxLayout="column" fxLayoutGap="20px">
            <div fxLayout="column" fxLayoutAlign="center start">
                <h4>来店人数を入力してください</h4>

                <app-shared-input
                    formControlName="numberOfPeople"
                    label="来店人数"
                    style="width: 100%"
                    type="number"
                ></app-shared-input>
            </div>

            <div fxLayout="column" fxLayoutAlign="center start">
                <h4>QRコードを読み取ってください</h4>
                <div class="camera-container" fxLayoutAlign="center center">
                    <zxing-scanner
                        (scanSuccess)="successToScanQRCode($event)"
                        *ngIf="isQRCodeReaderEnable"
                        style="width: 100%"
                    ></zxing-scanner>
                    <mat-icon *ngIf="!isQRCodeReaderEnable">photo_camera</mat-icon>
                </div>
                <app-button
                    (click)="launchQRCodeReader()"
                    class="camera-launch-button"
                    label="カメラを起動"
                    width="100%"
                ></app-button>
            </div>
        </form>
    </mat-step>
</mat-horizontal-stepper>
